.testimonial
{
	text-align:center;
	padding:50px 0px;
}
.testimonial h1
{
  @include breakpoint (small down){
      font-size:25px;
      }
}
#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #333333;
  border: none;
  width:20px;
  height:5px;
  margin:0px;
}
#fade-quote-carousel.carousel .carousel-indicators > li.active {
  background-color:$red;
  border: none;
  width:20px;
  height:5px;
  margin:0px;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
blockquote p{
     font-family: Calibri, sans-serif;
}