@font-face {
		font-family: 'Hanken';
		src: url('../fonts/Hanken-Book.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
      }
      
@font-face {
		font-family: 'Hanken';
		src: url('../fonts/Hanken-Light.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
    }

//FONT FAMILIES
$font-base: "Hanken",sans-serif;

//FONT SIZES
$fontSize-xsmall: 12px;
$fontSize-small: 14px;
$fontSize-base: 16px;
$fontSize-baseUp: 18px;
$fontSize-largeLess:20px;
$fontSize-large: 24px;
$fontSize-largeX:28px;
$fontSize-larger: 30px;
$fontSize-xlarger: 32px;
$fontSize-xmlarger: 35px;
$fontSize-xxlarger: 48px;
$fontSize-largest: 72px;

$fontWeight-regular: 400;
$fontWeight-semibold: 600;
$fontWeight-bold: 700;

//LINE HEIGHTS
$lineHeight-zero:0;
$lineHeight-tightest: 1.15;
$lineHeight-tighter: 1.25;
$lineHeight-tight: 1.3;
$lineHeight-base: 1.4;
$lineHeight-double: 2;
